/* ==== 
 --------- (2.3) global styles start ---------
 ==== */

img {
  max-width: 100%;
  height: auto;
}

.fluid_img {
  max-width: 100%;
  min-height: 100%;
  height: auto;
  object-fit: cover;
}

.bg-img {
  @include background($primary-overlay, no-repeat, center center, cover);
}

.dir-rtl {
  direction: rtl;
}
.btn {
  border: none;
  &:active {
    border: none;
  }
}

@media (min-width: 1600px) {
  .unset-xxl img {
    max-width: unset;
  }
  .unset-xxl-left {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: unset;
    }
  }
}

// nice-select
.nice-select {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  .current {
    color: $head-color;
    text-transform: capitalize;
  }
  .option {
    color: $white;
    text-transform: capitalize;
  }

  .option:hover,
  .option.focus,
  .option.selected.focus {
    background: $primary-color;
    color: #fff;
  }
  .list {
    background: $head-color;
    &:hover .option:not(:hover) {
      background: $primary-color;
    }
  }
}

// current select color
.cus-sel-active {
  .current {
    color: $placeholder !important;
  }
}

.div-sticky {
  position: sticky;
  top: 100px;
}

.cus_scrollbar {
  overflow-x: auto;
  position: sticky;
  max-height: 90vh;
  top: 120px;
}

.review_scrollbar {
  overflow-x: auto;
  position: sticky;
  max-height: 100%;
  top: 120px;
}

// custom checkbox
input[type="checkbox"],
input[type="radio"] {
  position: relative;
  border: 1px solid #dfe0e4;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  line-height: 1;
  -webkit-appearance: none;
  &:before {
    content: "\F633";
    font-family: "bootstrap-icons";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 2px;
    z-index: 2;
    opacity: 0;
  }

  &:checked {
    background-color: $neutral-n-0;
    &:before {
      opacity: 1;
    }
  }
}

// slick-slide
.slick-slide {
  margin: 0px 12px;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.slick-list {
  margin: 0px -12px;
}

.slick-arrow[aria-disabled="true"] {
  opacity: 0.4 !important;
}

// image hover effect
.popup_img,
.zoom_effect {
  overflow: clip;
  width: 100%;

  border-radius: 16px;

  transition: none;
  img {
    transition: $transition;
    width: 100%;
    transform: scale(1.01);
  }
  &:hover {
    img {
      transform: scale(1.2) rotate(-5deg);
      cursor: zoom-in;
    }
  }
}
.zoom_effect {
  &:hover {
    img {
      cursor: pointer;
    }
  }
}

// pagination
.nav_pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  .pagination {
    gap: 8px;
  }

  .page-item .page-link {
    @include box(40px);
    border-radius: 32px;
    color: $neutral-n-700;
    border: 1px solid $primary-color;
    font-size: $font-size;
    font-weight: 600;
    transition: $transition;
    &.three_dots_box {
      width: 48px;
      min-width: 48px;
    }
    .prev-icon,
    .next-icon,
    .three-dots {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &:after {
        content: "\F284";
        font-family: "bootstrap-icons";
        font-weight: 600;
        position: absolute;
        font-size: $font-size;
        color: $neutral-n-700;
        transition: $transition;
      }
    }
    .next-icon {
      &:after {
        content: "\F285";
      }
    }
    .three-dots {
      margin-top: 10px;
      padding: 0 16px;
      &:after {
        content: "\F5D4";
      }
    }

    &:hover,
    &:focus,
    &.active {
      background-color: $primary-color;
      color: white;
      box-shadow: none;
      i,
      span::after {
        color: white;
      }
    }
  }
}

// review
.star_review {
  color: white;
  display: flex;
  gap: 4px;

  i {
    color: white;
  }

  .star-active {
    color: $secondary-color;
  }
}

.card {
  display: flex;
  border: none;
  gap: 32px;
  padding: 24px;
  .card-body {
    padding: 20px 0 0 0;
  }
  .card__title {
    margin-bottom: 16px;
  }
}

// additional custom start
.card--secondary {
  border-radius: 16px;
  background: $neutral-n-0;
  box-shadow: $box-shadow;
  padding: 8px;
  padding-bottom: 32px;
  gap: 28px;
  width: 100%;
  .card--secondary__thumb,
  .content-part__thumb,
  .card--secondary__video {
    img {
      border-radius: 16px;
      width: 100%;
    }
  }
  .card--secondary__content {
    margin: 0 20px;
    .card--secondary__text {
      margin-bottom: 16px;
      &:nth-last-of-type(1) {
        margin-bottom: 0;
      }
    }
  }
}

.card--custom {
  background: white;
  padding: 36px;
  border-radius: 16px;
  border: none;
  border: 1px solid $neutral-n-40;
  text-align: center;
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    background: rgba(7, 28, 76, 0.05);//chnage
    border-radius: 16px;
    width: 100%;
    height: 100%;
    transition: $transition;
    z-index: -3;
  }
  &:hover {
    border: 1px solid #07194c;//chnage
    transition: all 0.5s ease-in-out;
  }
}

.card--small {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: 24px;
  .card--small-icon {
    @include box(60px);
    background: $primary-n-10;
    svg {
      max-width: calc(100% - 24px);
    }
  }
  .card--small-content {
    .card--small-title {
      margin-bottom: 8px;
    }
    .card--small-text {
      font-size: 14px;
      margin-bottom: 8px;
      &:nth-last-of-type(1) {
        margin-bottom: 0px;
      }
    }
  }
}

.tag-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px 30px;
  .tag {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    .tag__name {
      color: $primary-color;
      font-size: 18px;
      font-weight: 500;
      margin-top: 2px;
    }
    .tag-content {
      flex-wrap: wrap;
      gap: 8px;
      display: flex;

      .btn_theme {
        height: 37px;
        padding: 8px 16px;
        color: $neutral-n-500;
        font-size: 14px;
        background: rgba(20, 7, 76, 0.03);//change
        &.btn_theme {
          .btn_theme_inner span {
            font-size: 14px;
            &:last-child {
              transform: translateY(-11px);
            }
          }
          &:hover,
          &:focus {
            color: white;
            .btn_theme_inner span {
              &:last-child {
                transform: translateY(-32px);
              }
              &:first-child {
                transform: translateY(11px);
              }
            }
          }
        }
      }
    }
    .social {
      flex-wrap: wrap;
      .btn_theme .btn_theme_inner span:last-child i {
        color: $primary-color;
      }
    }
  }
}

.read_more {
  color: $primary-color;
  font-weight: 600;
  &:hover i {
    transform: translateX(8px);
  }
}

[dir="ltr"] .progress-area {
  width: 100%;
  .prog-bar {
    height: 8px;
    width: 100%;
    background: $neutral-n-0;
    border-radius: 5px;
  }
  .progress-title {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .prog-percentage {
    height: 8px;
    background: $primary-color;
    border-radius: 5px;
    position: relative;
    animation: fillBars 2.5s 1 !important;
    &::before {
      content: "85%";
      position: absolute;
      font-size: 20px;
      top: -26px;
      right: 0px;
      transform: transition(50%);
      color: $primary-color;
    }
  }

  @keyframes fillBars {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

[dir="rtl"] .progress-area {
  width: 100%;
  .prog-bar {
    height: 8px;
    width: 100%;
    background: $neutral-n-0;
    border-radius: 5px;
  }
  .progress-title {
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .prog-percentage {
    height: 8px;
    background: $primary-color;
    border-radius: 5px;
    position: relative;
    animation: fillBars 2.5s 1 !important;
    &::before {
      content: "85%";
      position: absolute;
      font-size: 20px;
      top: -26px;
      left: 0px;
      transform: transition(50%);
      color: $primary-color;
    }
  }

  @keyframes fillBars {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

// additional custom end

// section class
.section {
  padding: 120px 0px;
}

.section--space-top {
  padding-bottom: 0px;
}

.section--space-bottom {
  padding-top: 0px;
}

.section__cta {
  margin-top: 40px;
  text-align: center;
}

i,
span.material-symbols-outlined {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
}

// section header
.section__header {
  text-align: center;
  margin-bottom: 60px;

  .section__header-sub-title {
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: $primary-color;
  }

  .section__header-title {
    margin-bottom: 24px;
  }

  .section__header-content {
    margin: 0 auto;
  }
}

// section content
.section__content,
.banner__content {
  .section__content-sub-title,
  .banner__content-sub-title {
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    color: $primary-color;
  }

  .section__content-title,
  .banner__content-title {
    margin-bottom: 24px;
  }

  .section__content-text,
  .banner__content-text {
    margin-bottom: 24px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }

  .section__content-text-content,
  .banner__content-text-content {
    margin-bottom: 24px;

    &:nth-last-of-type(1) {
      margin-bottom: 0px;
    }
  }

  .section__content-inner,
  .banner__content-inner {
    margin-top: 32px;

    ul {
      display: flex;
      align-items: center;
      row-gap: 16px;
      column-gap: 20px;
      flex-wrap: wrap;

      li {
        width: calc(50% - 10px);
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
        font-size: 18px;
        i {
          color: $primary-color;
        }

        span {
          @include box(32px);
          background: $secondary-color;
          color: $primary-color;
        }
      }
    }
  }

  ul.section__content-list {
    list-style-type: disc;
    margin-left: 25px;
    margin-top: 32px;
    li {
      list-style-position: outside;
      color: $neutral-n-500;
      // font-weight: 600;
      &::marker {
        // font-size: 20px;
        color: $content-color;
      }
    }
  }

  .section__content-cta,
  .banner__content-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    row-gap: 15px;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}

[dir="rtl"] .section__content ul.section__content-list {
  margin-right: 25px;
}

// additional class
.between_part {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.space_between {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
}

// .Custom Gap
.gap-6 {
  gap: 12px;
}
.gap-7 {
  gap: 20px;
}
.gap-8 {
  column-gap: 32px;
  row-gap: 16px;
}
.gap-9 {
  column-gap: 40px;
  row-gap: 16px;
}

.gap-1,
.gap-2,
.gap-3,
.gap-4,
.gap-5,
.gap-6,
.gap-7,
.gap-8,
.gap-9 {
  display: flex;
  align-items: center;
}

.ch-xxl {
  max-width: 56ch;
}

// grid span
.wide {
  grid-column: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

// .tall {
//     grid-row: span 2;
// }
// .tall {
//     grid-row-start: 2;
//     grid-row-end: span 2;
// }

// theme color
.primary_color {
  color: $primary-color !important;
}

.secondary_color {
  color: $secondary-color !important;
}

// animations
.word .letter {
  color: $secondary-color;
}

.previewShapeY img {
  animation: previewShapeY 5s infinite;
}

// slick slider navigation
.slider-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;

  .new__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    & li {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      cursor: pointer;
      background: #b5b5b5;
      transition: $transition;

      &.slick-active {
        background: $primary-color;
        color: $white;
      }

      &:hover {
        background: $primary-color;

        i {
          color: $white;
        }
      }
    }
  }

  .pagination-button {
    @include box(40px);
    padding: 0px;
    border: 1px solid $primary-color;
    background: rgba(7, 14, 76, 0.05);//chnage

    i {
      color: $primary-color;
      font-size: 16px;
    }

    &:hover {
      background: $primary-color;

      i {
        color: $white;
      }
    }
  }
}

// slick slider arrows
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  padding: 0;
  border: none;
  outline: none;
  cursor: pointer;
  color: transparent;
  background: transparent;
  // display: block;
  display: flex;
  // justify-content: center;
  align-items: center;
  z-index: 2;
  &:before {
    font-family: "bootstrap-icons";
    font-size: 25px;
    color: #1c1b1f;
    background: $white;
    border-radius: 50%;
    padding: 19px 10px;
  }
}

.slick-prev {
  left: 23px;
  &:before {
    content: "\F284";
    font-size: 20px;
  }
}

.slick-next {
  right: 38px;
  &:before {
    content: "\F285";
    font-size: 20px;
  }
}

// slick slider dots
.slick-dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 40px;

  button {
    display: block;
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #d9d9d9;
    text-indent: -9999px;
  }

  .slick-active button {
    background: $primary-color;
    width: 28px;
    border-radius: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.number-bullet {
  @include box(40px);
  background: $primary-color;
  color: white;
}

.contact-area {
  background: url(../../images/contact_banner.png);
  @include background(white, no-repeat, center, cover);
  .contact__form {
    background: white;
    box-shadow: 0px 4px 26px rgba(186, 186, 186, 0.25);
    border-radius: 20px;
    padding: 40px;
    .input-single {
      border-bottom: 1px solid #626262;
      .form-control {
        padding-left: 0;
      }
    }
  }
}

// analytics-card
.analytics-card {
  background: #ffffff;
  border: 1px solid #e6edf8;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  .card__thumb {
    width: 100%;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
  .card-body {
    .card__others-info {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      gap: 16px;
      .line {
        border-right: 1px solid #e6edf8;
        width: 0px;
        height: 13px;
      }
      .time-ago,
      p {
        font-size: 14px;
        &:first-child .material-symbols-outlined {
          transform: rotate(-180deg);
        }
      }
      .material-symbols-outlined {
        color: #2c6ac8;
        font-size: 17px;
      }
      .analytics {
        background: rgba(68, 140, 116, 0.1);
        border-radius: 36px;
        padding: 2px 12px;
        font-size: 12px;
        color: #448c74;
      }
    }
    .card__title {
      margin-bottom: 16px;
    }
  }
}

.country-btn {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f7f9f9;
  width: 100%;
  border-radius: 10px;
  color: #6a7283;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 30px;
  border: 1px solid #dfe0e4;
  outline: none;
  font-size: 14px;
  &:hover {
    border: 1px solid #dfe0e4;
  }
}

.country-menu {
  width: 100%;
  max-height: 120px;
  background-color: #f7f9f9;
  color: #222e48;
  border: 1px solid #dfe0e4;
  padding: 10px;
  position: absolute;
  margin-top: 4px;
  overflow: auto;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  z-index: 10;
}

//contact Us ===> select country

.selectOption {
  background-color: #11074c;//chnage
}
.selectOptionCountry {
  padding: 2px 10px;
  border-radius: 8px;
}
.selectOptionCountry:hover {
  color: white;
  background-color: #11074c;//chnage
}

.author {
  display: flex;
  gap: 20px;
  align-items: center;
}

.authorImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.cardShadow {
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.04);
}

/* rtl button */
#rtlBtn {
  position: fixed;
  z-index: 9;
  right: 10px;
  font-size: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #07094c;//change
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  &:hover {
    background-color: #02032a;//change
  }
}

@media (max-width: 576px) {
  #rtlBtn {
    width: 36px;
    height: 36px;
    right: 5px;
    font-size: 14px;
  }
}

/* ==== 
   --------- (2.3) global styles end ---------
   ==== */
