/* ==== 
 --------- (4.2) banner styles start ---------
 ==== */

//  hero section
.hero {
  height: 100%;
  width: 100%;
  padding-top: 145px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.10000000149011612;
    background: $theme-secondary-bg;
    z-index: -1;
  }
  .section__content-title {
    max-width: 18ch;
  }
  .section__content-text {
    font-size: 20px;
    font-weight: 500;
  }
  .hero__thumb {
    position: relative;
    img {
      max-width: unset;
    }
    &::before {
      content: "";
      position: absolute;
      left: calc(50% - 27%);
      top: 50px;
      width: 432px;
      height: 300px;
      z-index: 1;
      background: url(../../images/hero_img_vector.png) no-repeat;
      animation: pulse 5s infinite;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -33%;
      width: 118px;
      height: 140px;
      z-index: 1;
      background: url(../../images/thumb_vector.png) no-repeat;
      transform-origin: bottom;
      animation: spinSmall 5s infinite;
    }
  }
  .hero__animation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      &:first-child {
        position: absolute;
        left: 24%;
        top: 25%;
        animation: pulse 7s infinite;
        width: 2%;
      }
      &:nth-child(2) {
        position: absolute;
        left: 3%;
        bottom: 12%;
        animation: previewShapeX 5s infinite;
      }
      &:nth-child(3) {
        position: absolute;
        left: 50%;
        bottom: 17%;
        animation: pulse 7s linear infinite;
        z-index: 2;
      }
      &:nth-child(4) {
        position: absolute;
        right: 5%;
        top: 33%;
        animation: rotate360deg 20s linear infinite;
      }
      &:nth-child(5) {
        position: absolute;
        right: 39%;
        top: 16%;
        animation: previewShapeX 5s infinite;
      }
    }
  }
}

// index-2
.hero--secondary {
  padding-top: 155px;
  .section__content-sub-title {
    color: $secondary-color;
  }
  .section__content-title {
    color: white;
  }
  .section__content-text {
    color: $neutral-n-10;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $neutral-n-900;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    background: url(../../images/hero--secondary_bg.png);
    @include background($neutral-n-900, no-repeat, bottom center, cover);
    opacity: 1;
    z-index: -1;
  }

  .btn-group {
    .btn_theme {
      &:last-child {
        border-color: $secondary-color;
        color: $secondary-color;
        z-index: 0;

        &:hover {
          border-color: $primary-color;
          color: white;
          i {
            color: white;
          }
        }
      }
    }
  }
}

// banner section
.banner {
  width: 100%;
  padding-top: 155px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: initial;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $neutral-n-900;
    z-index: -1;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../../images/inner_banner.png);
    @include background($neutral-n-900, no-repeat, bottom center, cover);
    z-index: -1;
  }
  .banner__content {
    .banner__title {
      color: $white;
      text-align: start;
      text-transform: capitalize;
    }

    .banner_dir {
      margin-top: 24px;
      ul {
        li {
          a {
            color: white;
          }
          &:last-child {
            a {
              color: $secondary-color;
            }
          }
        }
      }

      .banner_dir_item {
        font-size: 16px;
        line-height: 150%;
      }
    }

    .breadcrumb {
      margin-top: 24px;
      --bs-breadcrumb-item-padding-x: 4px;
      .breadcrumb-item {
        color: $white;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        a {
          color: $white;
          font-family: $font-primary;
        }
        // +.breadcrumb-item::before{
        //     content: "\F285";
        //     font-family: 'bootstrap-icons';
        //     color: $white;
        //     font-size: 14px;
        // }
        &.active {
          color: $secondary-color;
        }
      }
    }
  }
}

@media (max-width: 1850px) {
  .hero .hero__animation img:nth-child(4) {
    right: 1%;
    top: 15%;
  }
}
@media (max-width: 1599px) {
  .hero {
    .btn-group {
      padding-bottom: 70px;
    }
    .hero__thumb {
      img {
        max-width: 100%;
      }
      &::before {
        left: 18%;
        background-size: 70%;
      }
      &::after {
        right: -5%;
        background-size: 80%;
        height: 118px;
      }
    }
    .hero__animation img:nth-child(2) {
      position: absolute;
      left: 3%;
      bottom: 5%;
    }
  }
}
@media (max-width: 1399px) {
  .hero .hero__animation img {
    &:nth-child(3) {
      left: 44%;
    }
    &:nth-child(5) {
      width: 8%;
    }
  }
}

@media (max-width: 1199px) {
  .hero {
    .hero__thumb {
      &::before {
        background-size: 58%;
      }
      &::after {
        right: -8%;
        background-size: 63%;
        bottom: -5%;
      }
    }

    .section__content-text {
      font-size: 18px;
    }

    .hero__animation img {
      &:nth-child(2) {
        width: 4%;
      }
      &:nth-child(3) {
        display: none;
      }
      &:nth-child(4) {
        width: 4%;
      }
    }
  }

  .banner__thumb img {
    max-width: 55%;
    height: auto;
  }
}

@media (max-width: 991px) {
  .hero {
    .btn-group {
      padding-bottom: 0;
    }
    .hero__thumb,
    .hero--secondary__thumb {
      text-align: center;
      img {
        max-width: 60%;
      }
      &::before {
        background-size: 58%;
        top: 35px;
        left: 30%;
      }
      &::after {
        right: 13%;
        background-size: 57%;
        bottom: -7%;
      }
    }

    .hero__animation img {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(4) {
        width: 6%;
      }
      &:nth-child(2) {
        width: 6%;
      }
      &:nth-child(5) {
        display: none;
      }
    }
    .section__content-title .word {
      letter-spacing: 4px;
      margin-right: 0;
    }
  }

  .banner__thumb img {
    max-width: 60%;
    height: auto;
  }
}

@media (max-width: 767px) {
  .hero {
    .hero__thumb {
      img {
        max-width: 75%;
      }
      &::before {
        background-size: 51%;
        top: 35px;
        left: 27%;
      }
      &::after {
        right: 2%;
        background-size: 55%;
        bottom: -8%;
      }
    }
  }
}

@media (max-width: 575px) {
  .hero {
    .hero__thumb {
      img {
        max-width: 100%;
      }
      &::before {
        left: 19%;
      }
      &::after {
        right: -14%;
      }
    }
    .section__content-sub-title {
      font-size: 18px;
    }
    .section__content-text {
      font-size: 16px;
    }
  }

  .banner__thumb img {
    display: none;
  }
}

@media (max-width: 479px) {
  .hero {
    .hero__thumb {
      img {
        max-width: 100%;
      }
      &::before {
        left: 21%;
        background-size: 40%;
      }
      &::after {
        right: -67px;
        bottom: -57px;
        background-size: 42%;
      }
    }

    .hero__animation img {
      &:nth-child(2),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  .hero--quaternary {
    padding: 150px 0 0;
  }
  .banner {
    li,
    .banner__content .breadcrumb .breadcrumb-item a {
      font-size: 14px;
    }
  }
}

@media (max-width: 372px) {
  .hero .btn_theme {
    width: 100%;
  }
}

.lastBread:last-child {
  color: #fcb650;
}
/* ==== 
 --------- (4.2) banner styles end ---------
 ==== */
